# Build output
**/bin/
**/build/
**/dist/
**/packages/

# IDE
.idea/
.gradle/
.tools/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/
*.cvsignore

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear
*.log

# Ant
*.bak

# Temporary files
*.tmp
*.swp
*~
projectlibre_build/*check.png
projectlibre_contrib/projectlibre-contrib.jar
projectlibre_contrib/projectlibre-reports.jar
projectlibre_contrib/projectlibre-script-radiance.jar

# Sisyphus session files
.sisyphus/
